<!---------------------nav bar------------------------->

<nav class="navbar navbar-inverse navbar-fixed-left">
  <div class="container-fluid">
    <div class="navbar-header">
      <img src="../assets/images/apsis.png" height="40">
    </div>
  </div>
</nav>

<!-------------------------main page------------------------->
<div id="appBody">
  <app-bowling></app-bowling>
</div>

<!---------------------footer------------------------->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myFooter">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myFooter">
      <ul class="nav navbar-nav navbar-right">
        <li style="margin-top: 15px">Find me :</li>
        <li>
          <a href="https://resume.io/r/xG7Oo" target="_blank">
            <img src="../assets/images/cv.png" alt="cv" style="width: 25px" class="img-responsive">
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/shadi-abo-alnasser-433502133/" target="_blank">
            <img src="../assets/images/linkedin.jpg" alt="linkedin" style="width: 25px" class="img-responsive">
          </a>
        </li>
        <li>
          <a href="https://github.com/shadiaboalnasser" target="_blank">
            <img src="../assets/images/git.png" alt="github" style="width: 25px" class="img-responsive">
          </a>
        </li>
      </ul>
      <div class="container text-center">
        <p style="margin-top: 15px">Shadi Abo Alnasser 2018</p>
      </div>
    </div>
  </div>
</nav>
